body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
html{
  background-color: #Baf9ff;
}

.header-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-container{
  display: flex;
  align-items: center;
  gap: 5rem;
}
.headButton{
  font-size: 25;
  padding: 10px;
  background-color: #5bc59e;
  border-radius: 15px;
  margin: 0;
}

.header-logo{
  display: flex;
  flex-direction: row;
  margin-left: 200px;
}
